body {
    background-color: #5f0d1f;
    font-family: Arial, sans-serif;
    color: #f7f3e6;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.container {
    background-color: #f7f3e6;
    color: #660d40;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: auto 10px;
}

h1, h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 2px 10px;
    border: none;
    text-align: center;
}

form {
    margin: 10px 0;
}

button {
    background-color: #660d40;
    color: #f7f3e6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Subtract padding and border */
}

.new-suggestion {
    margin-top: 2rem;
}

.new-suggestion button {
    margin-top: 1rem;
}

.footer {
    margin: 0;
    bottom: 5px;
}

.footer a {
    color: #FF5555;
}

.login button {
    margin-top: 1rem;
}